---
import Layout from '../layouts/Layout.astro';
import HomeLastPost from '../components/HomeLastPost.astro';
---
<Layout>
	<div class="py-2 md:py-10 space-y-4 max-w-screen-md mx-auto">
        <h1 class="text-2xl sm:text-3xl md:text-5xl font-semibold text-white text-center">ดูหนัง</h1>
    </div>
    <HomeLastPost />
</Layout>