---
import Layout from "../layouts/Layout.astro";
import Page from "../templates/Page.astro";

import { GraphQLClient } from 'graphql-request';

const page_id = '2348';

const client = new GraphQLClient('https://api.onlygroub.com/graphql');

const query = `
        query GetPageById($id: ID!) {
            page(id: $id, idType: DATABASE_ID) {
                id
                title
                content
                slug
                date
                seo {
                    title
                    metaDesc
                    breadcrumbs {
                        url
                        text
                    }
                    cornerstone
                    schema {
                        pageType
                        articleType
                        raw
                    }
                }
            }
        }
`;

const variables = { id: page_id };

const data : any = await client.request(query, variables);

const structuredData : any = `
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
	"@type": "ListItem",
	"position": 1,
	"name": "หน้าแรก",
	"item": "https://onlygroub.com"
	},{
	"@type": "ListItem",
	"position": 2,
	"name": "${data.page.seo.title}",
	}]
}
`;
---
<Layout seo={data.page.seo} type="page">
    <Page>
        <div class="page">
            <h1 class="page-title">{data.page.title}</h1>
            <div class="page-content" set:html={data.page.content}></div>
        </div>
    </Page>
</Layout>