---
---
<div class="ads">
    <div class="inner">
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
        <div id="gpt-passback">
        <script>
            // @ts-ignore
            window.googletag = window.googletag || {cmd: []};
            // @ts-ignore
            googletag.cmd.push(function() {
            // @ts-ignore
            googletag.defineSlot('/27599358/Onlygroub', [[300, 250], [336, 280]], 'gpt-passback').addService(googletag.pubads());
            // @ts-ignore
            googletag.enableServices();
            // @ts-ignore
            googletag.display('gpt-passback');
            });
        </script>
        </div>
    </div>
</div>