---
import { Image } from 'astro:assets';
import '../styles/footer.scss';
---

<footer id="colophon" class="site-footer">
    <!-- Grid -->
    <div class="footer-container">
    
        <ul class="footer-links">
            <li>
                <a href="/">ดูหนัง</a>
            </li>
            <li>
                <a href="/about">เกี่ยวกับเรา</a>
            </li>
            <li>
                <a href="/privacy-policy">นโยบายความเป็นส่วนตัว</a>
            </li>
        </ul>
        <!-- End Col -->
    
        <!-- Social Brands -->
        <div class="footer-copyright">
            <span>
                © 2024 All rights reserved. 
            </span>
        </div>
        <!-- End Social Brands -->
    </div>
    <!-- End Grid -->
</footer>