---
import { Image } from 'astro:assets';

import '../styles/navbar.scss';
---
<header id="masthead" class="site-header">
    <nav class="custom-header">
        <div class="header-logo">
            <a href="/" aria-label="Brand">
                <Image
                    class="site-logo"
                    src=/logo.png
                    alt="ONLYGROUB LOGO"
                    width="432"
                    height="106"
                    loading="lazy"
                />
            </a>
            <div class="sm:hidden">
                <button type="button" class="hs-collapse-toggle header-toggle" id="navbar-menu-collapse" aria-expanded="false" aria-controls="navbar-menu" aria-label="Toggle navigation" data-hs-collapse="#navbar-menu">
                    <svg class="hs-collapse-open:hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
                    <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
        </div>
        <div id="navbar-menu" class="hidden hs-collapse basis-full grow sm:block" aria-labelledby="navbar-menu-collapse">
            <ul class="site-navigation">
                <li><a href="/">หน้าแรก</a></li>
                <li><a href="/category/news">ข่าวหนัง</a></li>
                <li><a href="/movie">ดูหนัง</a></li>
                <li><a href="/category/trailer">ตัวอย่าง</a></li>
                <li><a href="/category/netflix">NETFLIX</a></li>
                <li><a href="/contact">ติดต่อเรา</a></li>
            </ul>
        </div>
    </nav>
</header>
<script>
    const btnMenuCollapse = document.getElementById('navbar-menu-collapse');
    const navbarMenu = document.getElementById('navbar-menu');
    btnMenuCollapse?.addEventListener('click', () => {
        navbarMenu?.classList.toggle('hidden');
    })
</script>